@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    width: 90%;
    background-color: #DCDCDC;
    font-size: 165%;
    display: block;
    margin: 0 auto;
    background-image: url(/img/Shapka_v1.01.png) ;
    background-size:contain;
    font-family: 'Montserrat', sans-serif;
}   

.ul-nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 30px;
}

.logo {}

.li-nav {
    margin: 1%;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}

.link-nav {
    color: azure;
    font-family: 'Montserrat', sans-serif;
    color:darkgreen;
}

.link-nav:hover {
    color: black;
}

.text-logo {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 175%;
    margin:0.5%;
}
img-logo{
    display: block;
    margin: 0 auto;
}

main {
    background-color: white;
    margin-top: 20%;
    border-radius: 30px;
}
.div-about-us{
    display: flex;
    justify-content: center;
}

.h1_div-about-us{
    font-size: 300%;
    display: flex;
    justify-content: center;
}


