@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    width: 95%;
    background-color: gray;
}

.logo {}

.li-nav {
    margin: 1%;
    list-style-type: none;
}

.link-nav {
    color: azure;
    font-family: 'Montserrat', sans-serif;
}

.link-nav:hover {
    color: forestgreen;
}

.ul-nav {
    display: flex;
    justify-content: space-around;
}

.logo {}

.text-logo {
    color: forestgreen;
    font-size: ;
    font-family: 'Montserrat', sans-serif;
}