@font-face {
  font-weight: 500;
  font-family: "Metropolis-bold";
  src: url(assets/fonts/metropolis/Metropolis-Bold.otf);
}

@font-face {
  font-weight: 300;
  font-family: "Metropolis-thin";
  src: url(assets/fonts/metropolis/Metropolis-Thin.otf);
}

* {
  font-family: "Metropolis-bold";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

h1 {
  text-transform: uppercase;
  font-size: 9vh;
}

section {
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

span {
  position: absolute;
  bottom: 4%;
  width: 50%;
  font-family: "Metropolis-thin";
  font-size: 20px;
  text-align: center;
}

.left {
  text-align: start;
  left: 3%;
}

.right {
  text-align: end;
  right: 3%;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.one {
  background-image: url(./assets/imgs/1.png);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.two,
.six {
  display: flex;
  justify-content: center;
  background-image: url(./assets/imgs/2.png);
  text-align: center;
}
.two .header {
  padding-top: 80px;
}

.three {
  background-image: url(./assets/imgs/3.png);
}
.three span {
  text-align: end;
  display: inline-block;
  position: unset;
}

.four {
  background-image: url(./assets/imgs/4.png);
}
.four .header {
  text-align: end;
  padding: 3% 3% 0 0;
}

.five {
  background-image: url(./assets/imgs/5.png);
}
.five .header {
  padding: 3% 0 0 3%;
}

.six {
  background-image: url(./assets/imgs/6.png);
}

.six .header {
  padding-top: 160px;
}

.fadeOut {
  animation-duration: 1s;
  animation-name: fadeOut;
  color: rgba(255, 255, 255, 0);
}

@keyframes fadeOut {
  from {
    color: rgba(255, 255, 255, 1);
  }

  to {
    color: rgba(255, 255, 255, 0);
  }
}

.fadeIn {
  animation-duration: 1s;
  animation-name: fadeIn;
  color: rgba(255, 255, 255, 1);
}

@keyframes fadeIn {
  from {
    color: rgba(255, 255, 255, 0);
  }

  to {
    color: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }

  span {
    font-size: 16px
  };
}